# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
.envpp

# Artefatos de build / pacotes
*.tar.gz
*.zip
*.bak

# Uploads (ignora arquivos, mantém a pasta)
uploads/*
!uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
